html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
strong{font-weight:bold; font-style: italic;}
em{font-style:italic;}
body{line-height: 1;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
caption, th, td{text-align: left; font-weight: normal; vertical-align: middle;}
q, blockquote{quotes: none;}
q:before, q:after, blockquote:before, blockquote:after{content: ""; content: none;}
a img{border: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
@font-face{font-family: "AquilineRegular"; src: url(http://cdn.kateandkeller.com/fonts/Aquiline-webfont.eot?#iefix); src: url(http://cdn.kateandkeller.com/fonts/Aquiline-webfont.eot?#iefix?iefix) format('eot'), url(http://cdn.kateandkeller.com/fonts/Aquiline-webfont.woff) format('woff'), url(http://cdn.kateandkeller.com/fonts/Aquiline-webfont.ttf) format('truetype'), url(http://cdn.kateandkeller.com/fonts/Aquiline-webfont.svg) format('svg');}
body{background: black url(http://cdn.kateandkeller.com/images/background-bird.jpg) no-repeat scroll 50% 0%; margin: 0; font-family: helvetica, arial, sans-serif; color: #222222; font-size: 16px; height: 1000px;}
h1, h2, h3, h4, h5{font-weight: bold;}
h1{font-size: 24px; margin: 16px 0;}
h2{font-weight: normal; font-size: 20px; margin: 4px 0;}
h4{margin: 4px 0;}
ol{list-style-type: decimal; padding-left: 40px; margin: 16px 0;}
p{margin: 16px 0;}
a{text-decoration: none;}
#main-container{margin: 0px auto; width: 800px;}
#title{font-family: "AquilineRegular"; position: absolute; top: 16px; font-size: 32px; margin:16px 0 0 20px;font-weight:bold;}
#title a{color: #222222;}
.date-photo{margin-top:10px;}
.cute-photo img{width: 333px;}
.date-photo img{width: 520px;}
.cute-photo, .date-photo{text-align: center; margin: 0 auto;}
.cute-photo img, .date-photo img{behavior: url('/stylesheets/PIE.htc'); position: relative; -moz-box-shadow: #888888 0 0 2px 2px; -webkit-box-shadow: #888888 0 0 2px 2px; -o-box-shadow: #888888 0 0 2px 2px; box-shadow: #888888 0 0 2px 2px;}
#content-wrapper{float: left; width: 100%;}
#content-column{behavior: url('/stylesheets/PIE.htc'); position: relative; margin-left: 240px; background-color: white; background-color: rgba(255, 255, 255, 0.6); -moz-box-shadow: #888888 0 0 5px 3px; -webkit-box-shadow: #888888 0 0 5px 3px; -o-box-shadow: #888888 0 0 5px 3px; box-shadow: #888888 0 0 5px 3px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; padding: 25px 20px 10px;}
#home-content p,  #home-content h2{text-align: center; margin: 16px 0;}
.wedding-details{text-align:center;line-height:125%;}
.newblock{margin-top:50px;}
.exciting{font-style: italic; font-weight: bold; font-size: 20px;}
.rsvp-link{color:#000; text-decoration:underline;}
#rsvp p{text-align:center;}
.ss-choices{list-style: none; padding: 0; margin: 10px;}
.ss-q-short{width:200px;}
#ss-form{margin-bottom:20px;}
#entry_1{width: 200px;}
.credit{font-size:10px;}
.credit a{color:#000;text-decoration:underline;}
#nav-col{float: left; width: 210px; margin: 110px 0 0 -770px;}
#nav-col ul{padding: 0; list-style: none;}
#nav-col ul li{margin: 5px 0;}
#nav-col ul li a{color: #222222; display: block; width: 200px; padding: 2px 0;}
#nav-col ul li a:hover{background-color: #92bdaa; background-color: rgba(146, 189, 170, 0.75);}
#form-break{margin: 20px 0;}
#proposal-copy{margin: 20px 0;}
.footnotes{font-size: 12px;}
#created-by{position: absolute; margin-left: 50px; font-size: 12px; top: 946px; width: 90px;}
#not-found{margin: 30px 0;}
#fancybox-loading{position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none;}
#fancybox-loading div{position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url("/javascripts/fancybox/fancybox.png");}
#fancybox-overlay{position: absolute; top: 0; left: 0; width: 100%; z-index: 1100; display: none;}
#fancybox-tmp{padding: 0; margin: 0; border: 0; overflow: auto; display: none;}
#fancybox-wrap{position: absolute; top: 0; left: 0; padding: 20px; z-index: 1101; outline: none; display: none;}
#fancybox-outer{position: relative; width: 100%; height: 100%; background: white;}
#fancybox-content{width: 0; height: 0; padding: 0; outline: none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid white;}
#fancybox-hide-sel-frame{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 1101;}
#fancybox-close{position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url("/javascripts/fancybox/fancybox.png") -40px 0px; cursor: pointer; z-index: 1103; display: none;}
#fancybox-error{color: #444444; font: normal 12px/20px Arial; padding: 14px; margin: 0;}
#fancybox-img{width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top;}
#fancybox-frame{width: 100%; height: 100%; border: none; display: block;}
#fancybox-left, #fancybox-right{position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url("/javascripts/fancybox/blank.gif"); z-index: 1102; display: none;}
#fancybox-left{left: 0px;}
#fancybox-right{right: 0px;}
#fancybox-left-ico, #fancybox-right-ico{position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block;}
#fancybox-left-ico{background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -30px;}
#fancybox-right-ico{background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -60px;}
#fancybox-left:hover, #fancybox-right:hover{visibility: visible;}
#fancybox-left:hover span{left: 20px;}
#fancybox-right:hover span{left: auto; right: 20px;}
.fancybox-bg{position: absolute; padding: 0; margin: 0; border: 0; width: 20px; height: 20px; z-index: 1001;}
#fancybox-bg-n{top: -20px; left: 0; width: 100%; background-image: url("/javascripts/fancybox/fancybox-x.png");}
#fancybox-bg-ne{top: -20px; right: -20px; background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -162px;}
#fancybox-bg-e{top: 0; right: -20px; height: 100%; background-image: url("/javascripts/fancybox/fancybox-y.png"); background-position: -20px 0px;}
#fancybox-bg-se{bottom: -20px; right: -20px; background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -182px;}
#fancybox-bg-s{bottom: -20px; left: 0; width: 100%; background-image: url("/javascripts/fancybox/fancybox-x.png"); background-position: 0px -20px;}
#fancybox-bg-sw{bottom: -20px; left: -20px; background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -142px;}
#fancybox-bg-w{top: 0; left: -20px; height: 100%; background-image: url("/javascripts/fancybox/fancybox-y.png");}
#fancybox-bg-nw{top: -20px; left: -20px; background-image: url("/javascripts/fancybox/fancybox.png"); background-position: -40px -122px;}
#fancybox-title{font-family: Helvetica; font-size: 12px; z-index: 1102;}
.fancybox-title-inside{padding-bottom: 10px; text-align: center; color: #333333; background: white; position: relative;}
.fancybox-title-outside{padding-top: 10px; color: white;}
.fancybox-title-over{position: absolute; bottom: 0; left: 0; color: white; text-align: left;}
#fancybox-title-over{padding: 10px; background-image: url("/javascripts/fancybox/fancy_title_over.png"); display: block;}
.fancybox-title-float{position: absolute; left: 0; bottom: -20px; height: 32px;}
#fancybox-title-float-wrap{border: none; border-collapse: collapse; width: auto;}
#fancybox-title-float-wrap td{border: none; white-space: nowrap;}
#fancybox-title-float-left{padding: 0 0 0 15px; background: url("/javascripts/fancybox/fancybox.png") -40px -90px no-repeat;}
#fancybox-title-float-main{color: white; line-height: 29px; font-weight: bold; padding: 0 0 3px 0; background: url("/javascripts/fancybox/fancybox-x.png") 0px -40px;}
#fancybox-title-float-right{padding: 0 0 0 15px; background: url("/javascripts/fancybox/fancybox.png") -55px -90px no-repeat;}
.fancybox-ie6 #fancybox-close{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_close.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-left-ico{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_nav_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-right-ico{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_nav_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-over{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1;}
.fancybox-ie6 #fancybox-title-float-left{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_title_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-main{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_title_main.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-right{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_title_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame{height: expression(this.parentNode.clientHeight + "px");}
#fancybox-loading.fancybox-ie6{position: absolute; margin-top: 0; top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');}
#fancybox-loading.fancybox-ie6 div{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_loading.png', sizingMethod='scale');}
.fancybox-ie .fancybox-bg{background: transparent !important;}
.fancybox-ie #fancybox-bg-n{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_n.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-ne{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_ne.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-e{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_e.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-se{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_se.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-s{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_s.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-sw{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_sw.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-w{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_w.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-nw{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/fancybox/fancy_shadow_nw.png', sizingMethod='scale');}
.tipsy{padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat; background-image: url(../images/tipsy.gif);}
.tipsy-inner{padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center;}
.tipsy-inner{-moz-border-radius: 3px; -webkit-border-radius: 3px;}
.tipsy-north{background-position: top center;}
.tipsy-south{background-position: bottom center;}
.tipsy-east{background-position: right center;}
.tipsy-west{background-position: left center;}