---
layout: default
---
<div class="cute-photo">
  <a href="{{site.cdn}}/images/KD-plus-KG_087.jpg" rel="fancybox"><img src="{{site.cdn}}/images/KD-plus-KG_087_sm.jpg"></a>
</div>
<div id="home-content">
  <p>
    He proposed... she said yes!<br>
    Saving one of the best weddings of the year for last,<br>
    celebrate with them<br>
    in<br>
    <span class="exciting">Grand Rapids, Michigan</span><br>
    on<br>
    <span class="exciting">Thursday, December 29, 2011</span>
  </p>
<h2><a class="rsvp-link" href="/RSVP/">RSVP now!</a></h2>
</div>