---
layout: default
---
<div class="cute-photo"><a href="{{site.cdn}}/images/niagra.jpg" rel="fancybox"><img src="{{site.cdn}}/images/niagra.jpg"></a></div>
<div id="proposal-copy">
  <p>On April 22, 2011, after spending a week in Maine to visit Kate's Aunt Elsa, the couple paused their drive back to see Niagara Falls.</p>
  <p>While viewing the site, Keller told Kate how much he loved her and enjoyed seeing new places with her, to which she responded "I love you, too. It's cold and starting to rain, can we go?"</p>
  <p>Ignoring her completely, Keller persevered in declaring his love. " I’ve loved the last year with you, and one year just isn’t enough. I want a lot more years." As he talked, he got down on one knee, pulled a ring form his rain jacket and asked, "Will you marry me?"</p>
  <p>Her answer came once she recovered from the surprise enough to be able to speak: "Yeah! Yes! ...did you ask my parents?"</p>
  <p>Read Kate's personal account of what happened <a target="_blank" href="http://krgeskus.wordpress.com/2011/05/04/good-friday/">here</a>.</p></div><div class="cute-photo"><a href="{{site.cdn}}/images/ring.jpg" rel="fancybox"><img src="{{site.cdn}}/images/ring.jpg"></a>
</div>