---
layout: default
---
<h1>Our Grand Rapids</h1>
<p>If you’re visiting, be sure to check out <a href="http://www.experiencegr.com/">experiencegr.com</a>.</p>

<p>To help you out, here are a few of Kate &amp; Keller’s favorite places to eat:</p>
<ul>
<li><a href="http://www.cherieinn.com/">Cherie Inn</a> - their most frequent after-church brunch spot.</li>
<li><a href="http://www.sanchezbistro.com/">San Chez</a> - a delicious cafe to one side, and on the other a tapas restaurant that is their favorite date night.</li>
<li><a href="http://www.electriccheetah.com/uncle-cheetahs-soup-shop-menu/">Uncle Cheetah’s</a> - features twelve homemade soups and creative grilled cheese creations.</li>
<li><a href="http://www.electriccheetah.com/">Electric Cheetah</a> - a wide array of gourmet sandwiches, be sure to try the sweet potato fries!</li>
<li><a href="http://mariecatribs.com/">Marie Catrib’s</a> - especially delicious and very vegan- and vegetarian-friendly.</li>
</ul>

<p>If you’re thirsty, here’s where the couple get coffee or tea while relaxing for a bit:</p>
<ul>
<li><a href="http://www.madcapblog.com/">MadCap</a> - the coffee shop in which the couple first met.</li>
<li><a href="http://thesparrowsgr.com/">The Sparrows</a> - a favorite stop for locals, this coffee shop/tea house/news stand has more teas than you knew existed!</li>
<li><a href="http://gojavacoffee.com/">Go Java</a> - the perfect downtown stop for a latte.</li>
</ul>

<p>And this is where Kate &amp; Keller relax a little deeper with brews and wines:</p>
<ul>
<li><a href="http://www.foundersbrewing.com/">Founders Brewing Co.</a> - Keller is a fan of their famous microbrews, and their local-talent concerts.</li>
<li><a href="http://hopcatgr.com/">HopCat</a> - a wide variety of brews from around the world, and a list of ones made here in GR. Worth a stop for a meal or just for their addictive crack fries!</li>
<li><a href="http://reservegr.com/">Reserve Wine Bar</a> - not only houses ArtPrize’s first winner, but also a state-of-the-art bar that enables connoisseurs to sample over 100 wines. Kate loves their wine flights, and their desserts!</li>
</ul>

<p>If you’re looking for something to do, some great places to visit include:</p>
<ul>
<li><a href="http://www.meijergardens.org/">Frederik Meijer Gardens</a></li>
<li><a href="http://www.artmuseumgr.org/">Grand Rapids Art Museum</a></li>
<li><a href="http://www.grmuseum.org/">Grand Rapids Public Museum</a></li>
<li><a href="http://www.uica.org/">Urban Institute of Contemprary Arts</a></li>
<li><a href="http://www.ci.grand-rapids.mi.us/index.pl?page_id=465">Ice Skating downtown GR</a></li>
<li><a href="http://www.sculpturesitesgr.org/sculpture_detail.php?artwork_id=2&location=2">A giant tire swing</a> right behind <a href="http://maps.google.com/maps?q=Calder+Plaza&hl=en&ll=42.969139,-85.67011&spn=0.036301,0.146427&sll=42.96336,-85.668086&sspn=0.159537,0.292854&vpsrc=0&t=m&layer=c&cbll=42.969139,-85.67011&panoid=oMmtRKMrPXcOiPfOhyqkrA&cbp=11,280.71,,0,1.96&z=13">Calder Plaza</a>
<li><a href="http://events.grnow.com/events/?theDate=2011-12-28&year=2011&month=12">Events going on that week</a></li>
</ul>