---
layout: default
---
<div id='rsvp'>
<p>
Kate and Keller<br>
are exchanging vows and rings<br>
on<br>
<span class="exciting">December 29, 201</span><br>
in<br>
<span class="exciting">Grand Rapids, Michigan</span>
</p>
</div>

<h3>RSVP:</h3>
<form action="https://docs.google.com/spreadsheet/formResponse?hl=en_US&amp;formkey=dHRROEd3N1M5ZDBmWEVOSU9UN3N4TUE6MQ&amp;ifq" method="POST" id="ss-form">

<br>
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Your name(s)
</label>
<label class="ss-q-help" for="entry_0"></label>
<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item ss-item-required ss-select"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Will you be celebrating with us?
</label>
<label class="ss-q-help" for="entry_1"></label>
<select name="entry.1.single" id="entry_1">
  <option value="gladly attend">Gladly attend</option>
  <option value="regretfully decline">Regretfully decline</option>
  <option value="regretfully attend">Regretfully attend</option>
  <option value="enthusiastically decline">Enthusiastically decline</option>
  <option value="too lazy to respond but will ultimately attend">Too lazy to respond but will ultimately attend</option>
</select>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Any other message?
</label>
<label class="ss-q-help" for="entry_2"></label>
<textarea name="entry.2.single" rows="8" cols="50" class="ss-q-long" id="entry_2"></textarea></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">
<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>
<div class="date-photo">
  <a href="{{site.cdn}}/images/thedate.jpg" rel="fancybox"><img src="{{site.cdn}}/images/thedate_sm.jpg"></a>
</div>