---
layout: default
---
<h1>Travel & Accommodation</h1>
<div class="cute-photo">
  <a href="{{site.cdn}}/images/KD-plus-KG_147.jpg" rel="fancybox"><img src="{{site.cdn}}/images/KD-plus-KG_147_sm.jpg"></a>
</div>

<p>If you’re traveling, remember that this is West Michigan in late December: there will probably be snow (we average over 19” in December). Weather often delays flights, so be sure to allow yourself plenty of time.<p>

<p><a href="http://www.grr.org/index.php">The Grand Rapids Airport</a> (GRR) is 10 miles away from downtown. Car rental is available at the airport, check <a href="http://www.grr.org/Ground.php">here</a> for reservations.</p>

<p>For hotel reservations here are some recomenations:</p>
<ul>
<li><a href="http://www.kayak.com/hotels#East-Grand-Rapids,MI-c38200/2011-12-29/2011-12-30/2guests">Country Inns &amp; Suites</a> for conveince</li>
<li><a href="http://ilovethejw.com/">JW Marriott</a> for fun/luxury</li>
<li><a href="http://www.daysinn.com/DaysInn/control/Booking/property_info?propertyId=14701">Days Inn</a> for inexpensive</li>
<li>Or find one on <a href="http://www.kayak.com/hotels#East-Grand-Rapids,MI-c38200/2011-12-29/2011-12-30/2guests">Kayak</a> or <a href="http://www.tripadvisor.com/HACSearch?geo=42256&q=Grand+Rapids%2C+Michigan%2C+USA&inDay=29&inMonth=12%2F2011&checkIn=12%2F29%2F2011&outDay=30&outMonth=12%2F2011&checkOut=12%2F30%2F2011&searchAll=false&adults=2#02,1315725864772,bc_airports:S,bc_convention_centers:S,nameContains:S,distance:S0,distanceSelect:S0,cat:-1,tb:S0">Trip Advisor</a></li>
</ul>