---
layout: default
---
<h2>5 Facts <em>Kate</em> thinks you should know about <em>Keller Davis</em></h2>
<ol>
  <li>He was born in Guam and was raised across the country, but if you ask him where he's from he'll say St Louis, where he went to high school.</li>
  <li>Keller is his middle name, which he inherited from his mother's maiden name.</li>
  <li>He graduated from Taylor University with a degree in (uh... it has something to do with computers). They must have done a good job educating him, because he built this site!</li>
  <li>Keller works for Zondervan on biblegateway.com. If you don't use it regularly, you should <a target="_blank" href="http://new.biblegateway.com">check it out</a>.</li>
  <li>He knows about the newest music before you do, has seen <a target="_blank" href="http://music.sufjan.com/">Sufjan Stevens</a> (they're your favorite, right?) live seven times, and respects both sides of the "Are the Beach Boys or The Beatles more influential?" debate.</li>
</ol>
<h2>5 Facts <em>Keller</em> Thinks You Should Know About <em>Kate Geskus</em></h2>
<ol>
  <li>Katelyn's middle name is Rae, which she inheritied from her Dad's first name, Ray.</li>
  <li>She loves her literature! She double majored in English and Spanish Literature, has worked in multiple libraries and is most often found in a book, especially Harry Potter.</li>
  <li>She can totally beat you up — she studies <a target="_blank" href="http://en.wikipedia.org/wiki/Krav_Maga">Krav Maga</a>.</li>
  <li>Kate enjoys creating. She likes water coloring flowers, creating <a target="_blank" href="http://www.etsy.com/shop/BoundByLaw?ref=pr_shop">recycled journals</a> out of books, and is a super writer (she wrote almost all the words on this site).</li>
  <li>She moves to Seattle this fall to get her Masters in Divinity from The Seattle School of Theology and Psychology (previously known as Mars Hill Graduate School).</li>
  <li>Kate is super cute (Ok, I know that's six but it's so true)!!!</li>
</ol>
<h2>How We Met</h2>
<p>In February 2010, Mars Hill Bible Church began short circles — six-week groups to journey through both lent and the Jonah series together. Keller signed up looking for more church involvement; Kate signed up looking for a bible study.</p>
<p>They and the nine other members of the group found community, and the group decided to continue past the six weeks. Some people would go to church together and brunch after; Kate and Keller were both always in this group. He invited her to a <a target="_blank" href="http://g-rad.org/breatheowlbreathe/">Breathe Owl Breathe</a> show with his friends, she invited them to the beach ... soon, they were hanging out every day.</p>
<p>On May 29, Keller surprised Kate by holding her hand. On May 31st, Kate surprised Keller by giving him a kiss.</p>
<p>They still go to church and brunch together. And they still sometimes surprise each other.</p>