---
layout: default
---
<h1>Community</h1>
<p>Our story began with a community. No, that's not right. In the beginning, there was nothing -- our stories began with the individual awareness that our lives were lacking some thing, which we later learned was called community. We each would phrase our reasons for joining that short circle differently, but at the heart of our search was a desire to belong with others. Ecology defines community as "a group of interdependent organisms inhabiting the same region and interacting with each other," and that was the need we felt down to our DNA. We were sick of doing life alone, of being relatively isolated independents. We knew we needed others in our lives. The short circle was where we found it -- people from different upbringings, in different fields of work, with varying interests, age differences spanning decades, but all coming together with the understanding that people were made for other people.</p>

<p>Community is where we are. We participate in life with each other, and also with the communities we've pieced together from all over - family members, church groups, yoga and krav studios, urban capture the flag groups... We aren't only a part of the tribe, our tribe is a part of who we are.</p>

<p>So, community is also where we plan to continue going.</p>

<p>There are many two-word phrases we look forward to on our wedding day. "I do", and later, "just married", and also the oft-forgotten phrase that happens in the middle: "we will."</p>

<p>At the heart of weddings -- because also at the heart of marriage -- is the balance between privacy and community. Marriage, to be sure, is an intimate matter, the making of a partnership that knits two people together in secret and intimate ways (just consider what Adam says of Eve: "bone of my bones and flesh of my flesh." (link to BibleGateway)) But it is a pernicious myth of modernity that marriage is merely private: Marriage is also a community endeavor. It is your friends and family who help you stay straight and true when your marriage feels too crooked or curvy. It is your sister or best friend or pastor who can remind you why you ever married him in the first place. It is the neighbor or confidant who is just outside the thing who can sometimes tell you the truth about it.</p>

<p>So far, we've gotten one piece of wedding advice that is especially sound: invite the people who matter most to you. In other words, make your marriage a community endeavor right from the start.</p>

<p>And so that is what we are trying to do. We are trying to invite people who are part of our pasts and presents. We are trying to plan so that our family and friends from the far-flung corners of the world can, at least a little bit, get to know one another. And then, if we manage not to split up over questions of menu and dress prices and boutonnieres, we will one evening, some weeks from now, stand under the chuppah (link) while our minister asks our gathered community "Will all of you witnessing these promises do all in your power to uphold these two persons in their marriage?" And our community will sincerely answer, "We will."</p>

<div class='credit'><a href="http://www.amazon.com/Mudhouse-Sabbath-Lauren-F-Winner/dp/1557253447">(material heavily influenced by Lauren Winner’s Mudhouse Sabbath)</a></div>