---
layout: default
---
<h1>Ceremony & Celebration</h1>
<p class='wedding-details newblock'>
<strong>Ceremony</strong><br>
to be held at<br>
<em>Plymouth Heights Christian Reformed Church</em><br>
1800 Plymouth Road<br>
Grand Rapids, MI 49506<br>
<a href="http://g.co/maps/3sq5d">View on map</a>
</p>

<p>Please use the east entrance (with the parking overhang).</p>

<p class='wedding-details newblock'>
<strong>Celebration</strong><br>
to follow immediately at<br>
The Geskus Home<br>
2318 Lake Drive SE<br>
Grand Rapids, MI, 49506<br>
<a href="http://g.co/maps/9525h">View on map</a>
</p>

<p>Parking available on side streets or at East Grand Rapids High School, 2211 Lake Drive SE. <a href="http://g.co/maps/2dgqf">View on map</a>.</p>

<p>The driveway is U-shaped, so feel free to drop off passengers at the home before parking. However, please do not park in the driveway, so that other guests may use it as a drop-off as well. The high school is just a short way down the street!</p>

<p class='newblock'>To bring:</p>
<ul>
<li>Your camera, if you’d like to help us document the night.</li>
<li>Your inner extrovert.</li>
<li>Your best marriage advice and memories of the couple. At the celebration, guests are invited to share in the creation of a scrapbook-style Guest Book for the couple. Photobooth and materials will be available.</li>
</ul>