<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kate and Keller's Wedding</title>
    <link href="{{site.cdn}}/css/screen.css?v{{ site.version }}" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main-container">
      <div id="title"><a href="/">Kate &amp; Keller</a></div>
      <div id="content-wrapper">
        <div id="content-column">
          {{ content }}
        </div>
      </div>
      <div id="nav-col">
        <div id="inner-nav-col">
          <ul>
            <li><a href="/about/">About us</a></li>
            <li><a href="/community/">About you</a></li>
            <li><a href="/proposal/">Proposal</a></li>
            <li><a href="/celebrate/">Ceremony & Celebration</a></li>
            <li><a href="/travel/">Travel & Accommodation</a></li>
            <li><a href="/gr/">Our Grand Rapids</a></li>
            <li><a href="/RSVP/">RSVP!</a></li>
          </ul>
        </div>
      </div>
      <div id="created-by">Site created by <br> Kate and Keller</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{site.cdn}}/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <script src="{{site.cdn}}/javascripts/k2.js?v{{ site.version }}" type="text/javascript"></script>
  </body>
</html>